@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

.submit-Btn{
    width: 9rem;
    height: 3rem;
    border-radius: 0.5rem; 
    background-color: #1E355E;
    color: #ffffff;
    font-family: 'Cairo';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.25rem;
    text-align: center;
    margin: 1rem;
}
