.react-grid-item-contract {
  box-sizing: border-box;
  border: 1px solid var(--primary_grey);
  box-shadow: 0px 2px 5px var(--primary_grey);
}

.contractBooking-Button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1rem;
}

.clear-submit-btn-div {
  display: flex;
  align-items: center;
}

.excel-upload-btn{
  border-style: dashed;
  height: 3rem;
  width: 12rem;
  border-radius: 0.5rem;
  background: #ffffff;
}

.clearAll-Btn {
  height: 3rem;
  width: 9rem;
  border-radius: 0.5rem;
  border: 2px solid red;
  color: red;
  background-color: white;
  outline: none;
}

.subHeaderContract{
  box-sizing: border-box;
  border: 1px solid var(--primary_grey);
  box-shadow: 0px 2px 5px var(--primary_grey);
  margin-bottom: 1rem;
}

.FileUpload {
  opacity: 0;
  position: relative;
  z-index: 1;
}

.dropZoneOverlay {
  /* border: dotted 1px; */
  /* font-family: cursive; */
  /* color: #7066fb; */
  position: absolute;
  /* top: 0px; */
  text-align: center;
  top: 34rem;
}