.react-grid-item-contract {
  box-sizing: border-box;
  border: 1px solid var(--primary_grey);
  box-shadow: 0px 2px 5px var(--primary_grey);
}

.contractBooking-Button {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1rem;
}

.clear-submit-btn-div {
  display: flex;
}

.uploadSheet-submit-Btn {
  width: 9rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #1E355E;
  color: #ffffff;
  font-family: 'Cairo';
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.25rem;
  text-align: center;
}

.clearAll-Btn {
  height: 3rem;
  width: 9rem;
  border-radius: 0.5rem;
  border: 2px solid #E90909;
  color: #E90909;
  background-color: white;
  outline: none;
  margin-left: 2rem;
  margin-right: 1rem;
}

.subHeaderContract {
  box-sizing: border-box;
  border: 1px solid var(--primary_grey);
  box-shadow: 0px 2px 5px var(--primary_grey);
  margin-bottom: 1rem;
}

.excel-upload-btn {
  border-style: dashed;
  height: 3rem;
  width: 12rem;
  border-radius: 0.5rem;
  background: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 2rem;
}

.FileUpload {
  opacity: 0;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.dropZoneOverlay {
  position: absolute;
  text-align: center;
  font-size: 0.9rem;
  color: grey;
  font-family: 'Cairo';
  font-weight: 400;
}

.file-name {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}