.contractMainDiv{
    display: flex;
    /* align-items: center; */
    width: fit-content;
    margin-bottom: 1.5rem;
}

input{
    height: 3rem;
    border-radius: 0.5rem;
}

.inputFieldDiv{
    /* width: 20%; */
    padding: 0rem 1rem;
    height: 5rem;
}

.inputBorderNone:focus{
    box-shadow: none;
    outline: none;
}

.inputLabelHeight{
    height: 1.6rem;
}

.textField-button-div{
    display: flex;
}

.nonmatch{
    width: 8rem;
}

.dropdown-dummyData{
    border: 1px solid #1E355E;
    height: fit-content;
    max-height: 25vh;
    width: 12vw;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute; 
    cursor: pointer;
    font-size: 0.7rem;

}


.dropdown-dummyData:empty{
    display: none;
}

.counterParty-dummyData{
    position: relative;
}

.dropdown-row{
    padding: 0.2rem 0.5rem;
    
}
.dropdown-row:hover{
    padding: 0.2rem 0.5rem;
    background-color: #CACACA;
}