@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

.header-style{
    height: 100px;
    justify-content: center;
}
.img-style{
    height:70px;
    width: 340px;
}

.nav-bar-container{
    display: flex;
    margin-right: 44px;
}

.btn-text-style{
    font-family: 'Cairo';
    font-size: 14px;
}

@media (max-width: 576px) { .img-style{
    display:none; 
} }

/** Medium devices (tablets, 768px and up)**/
@media (max-width: 768px) { .img-style{
    height:50px;
    width: 200px;
} }