@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");

.header-style {
  height: 7.375rem;
  justify-content: center;
}
.img-style {
  height: 5.125rem;
  width: 21.25rem;
  margin-left: 1.625rem;
}

.nav-bar-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.btn-text-style {
  font-family: "Cairo" !important;
  font-size: 20px !important;
}


@media (max-width: 576px) {
  .img-style {
    display: none;
  }
}

.hamBurgerIcon{
    background-color: #1E355E;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.125rem;
}

.profileHeaderIcon{
    color: #1E355E;
    height: 1.3125rem;
    width: 1rem;
    /* border-radius: 0.75rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo';
    font-weight: 500;
    font-size: 1.25rem;
}

/** Medium devices (tablets, 768px and up)**/
@media (max-width: 768px) {
  .img-style {
    height: 50px;
    width: 200px;
  }
}
