@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell{
    background-color: #6A7587;
    border-color: #6A7587
}
.ag-theme-material .ag-header{
    margin-bottom: 12px;
}

.ag-pivot-on .ag-header-cell-label {
    color: #1b6d85;
    font-weight: bold;
}
.ag-pivot-off .ag-header-cell-label {
    color: #fff;
}
.ag-input-field-input{
    height: 41px;
    border-radius: 9px;
    border: 1px solid white;
    background-color: #6A7587 !important;
    color: white !important;
}

.ag-theme-balham .ag-header-row:not(:first-child) .ag-header-cell, .ag-theme-balham .ag-header-row:not(:first-child) .ag-header-group-cell.ag-header-group-cell-with-group {
    border-top: none!important;
}

.ag-icon {
  display: none!important;
  speak: none;
}
.ag-header-cell-text {
    font-family: 'Cairo';
} 

.ag-cell{
    font-family: 'Cairo';
}

