.contractMainDiv{
    display: flex;
    /* align-items: center; */
    width: fit-content;
    margin-bottom: 1.5rem;
}

input{
    height: 3rem;
    border-radius: 0.5rem;
}

.inputFieldDiv{
    /* width: 20%; */
    padding: 0rem 1rem;
    height: 5rem;
}

.inputBorderNone:focus{
    box-shadow: none;
    outline: none;
}

.inputLabelHeight{
    height: 1.6rem;
}

.textField-button-div{
    display: flex;
}

.nonmatch{
    width: 8rem;
}

.dropdown-dummyData{
    border: 1px solid #1E355E;
    height: 25vh;
    width: 8vw;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute; 
    background-color: #ffffff;
    z-index: 1;
}

.dropdown-dummyData:empty{
    display: none;
}

.counterParty-dummyData{
    position: relative;
}

.error-style {
    color: red;
    font-size: 0.75rem;
}