.contractMainDiv{
    display: flex;
    width: 100%;
}

input{
    height: 3rem;
    border-radius: 0.5rem;
}

.inputFieldDiv{
    width: 20%;
    padding: 0rem 2rem;
    height: 5rem;
}

.inputBorderNone:focus{
    box-shadow: none;
    outline: none;
}

.inputLabelHeight{
    height: 1.6rem;
}