@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
:root{
  --primary_navy_Blue: #1E355E;
  --primary_grey: #6A7587;
 --primary_light_grey: #EAECEF;
  --secondary_black: #000000;
  --secondary_light_navy_blue: #2D496A;
  --secondary_white: #ffffff;
  --header_color: #A1ADBF;
}

.font-family{
  font-family: "Cairo";
}
